/* debug styling */
/* * {
  outline: dotted 1px red;
} */


/* Overwrite default browser styles */
html,
body {
  font-family: 'Arial', sans-serif; /* Modern font */
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(240, 240, 240);
  background-size: cover;
  position: sticky;
  top: 0;
  /* background-image: linear-gradient(to right, #ff7e5f, #feb47b); /* Add a gradient background */
}

br {
  display: block;
  content: "";
  border-top: 2px solid #ad9999;
  margin: 1em 0;
}

footer br {
  border-top: 1px solid #ad9999; /* Narrower border in the footer */
  margin: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  width: 1em; 
}

/* Left pane styling */
.left-pane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  right: 0;
  width: 8em; /* Slightly wider */
  background-color: #333333; /* Darker background */
  padding: 1rem;
  height: 100vh;
  box-shadow: -2em 0 5em rgba(0, 0, 0, 0.3); /* Stronger shadow */
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.left-pane p {
  color: #ffffff; 
  font-size: 1em;
  padding: 0;
  margin-left: 0;
}

.left-pane a {
  font-size: 1.5em;
  color: #ad9999; /* Lighter text color */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;

}

.left-pane a:hover {
  color: #ff6347; 
}

/* Main content styling */
main {
  flex-grow: 1;
  max-width: 50rem; /* Wider content area */
  margin: auto;
  padding: 1rem; /* Add padding */
  padding-bottom: 4em;
  box-sizing: border-box;
  background-color: #ffffff; /* Light background color */
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

figure {
  max-width: 40rem; /* Wider figure */
  margin: 0;
}

h1 {
  width: 80%;
  color: #333333; /* Darker text color */
  margin: 1.25em auto;
  text-align: center;
  font-size: 3em; /* Slightly smaller */
  margin-top: 0.3125em;
  margin-bottom: 0em;
}

h2 {
  width: 80%;
  color: #333333;
  margin: 1.25em auto;
  text-align: left;
  font-size: 2em;
}

h2.music-folio {
  font-size: 1.4em;
}

h3 {
  width: 80%;
  color: #333333;
  margin: 1.25em auto;
  text-align: left;
  font-size: 1.5em;
}

h4 {
  width: 80%;
  color: #333333;
  margin: 1.25em auto;
  text-align: center;
  font-size: 1.25em;
}

/* Paragraph styling with the same width as the image */
p {
  font-size: 18px;
  width: 80%;
  margin: 1.25em auto;
  color: #333333;
  text-align: right;
}

/* Container for text elements to styliscitally mis-align them */
div.text-container {
  width: 80%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-around;
  align-items: flex-end;
}

div.text-container p {
  font-size: 18px;
  margin-right: 1em;
  width: 85%;
  color: #333333;
  margin-left: auto;
  text-align: right;
}


/* Styling for the copyright paragraph */
p.copyright, p.contact {
  font-family: 'Courier New', monospace;
  font-size: .75em;
  color: #888888;
  text-align: center;
  position: bottom;
  bottom: 0em;
  width: auto;
  margin: 0;
  padding: 0;
}

a.copyright, a.contact {
  color: #888888;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

a.copyright:hover, a.contact:hover {
  color: #ff6347; /* Change to a different color on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Style for the image */
img {
  display: block;
  margin: 1.25em auto;
  border: 0em solid #333333;
  border-radius: 0.625em;
  box-shadow: 0.125em 0 0.3125em rgba(0.1, 0.1, 0.1, 0.3); /* Stronger shadow */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
}

/* Grid container styling */
.music-folio-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #ffffff; /* same as body background color */
  gap: 0.625em;
  width: 100%;
  margin: auto;
  max-width: fit-content;
}

.music-folio-grid-container a {
  color: #333333;
  font-size: 1.2em;
  text-decoration: underline;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.music-folio-grid-item img {
  width: 90%;
  height: auto;
  border-radius: 0.3125em;
  box-shadow: 0; /* Stronger shadow */
}

.music-folio-grid-container a:hover {
  background-color: #ff6347;
  color: #333333;
  transform: scale(1.1);
}

/* Styling for social badge links */
a.music-folio-badge {
  display: inline-block;
  background-color: #333333;
  color: #ffffff;
  padding: 0.625em 0.9375em;
  border-radius: 0.3125em;
  text-decoration: none;
  margin: 0.3125em;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  text-align: center;
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 0.875em;
}

/* Styling for audio elements */
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 1.25em auto;
  border: 0em solid #333333;
  border-radius: 0.625em;
  box-shadow: 0.125em 0 0.3125em rgba(0.1, 0.1, 0.1, 0.3); /* Stronger shadow */
}

audio::-webkit-media-controls-panel {
  background-color: #333333;
  color: #ff6347;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a.music-folio-badge, audio::-webkit-media-controls-panel:hover {
  background-color: #cfc3ae;
  color: #645b5b;
}

a.music-folio-badge:hover {
  transform: scale(1.05);
}

.music-folio {
  text-align: center;
  padding-top: 0em;
  padding-left: 0em;
  margin: auto;
}

.music-folio-grid-item {
  padding: .5em;
  margin: auto;
  width: 100%;
  max-width: 18.75em;
  max-height: 100%;
  background-color: #f0f0f0;
  border: #6e6863;
  border-radius: 0.3125em;
  box-shadow: 0.125em 0.125em 0.3125em rgba(0.1, 0.1, 0.1, 0.3); /* Stronger shadow */
  border: 5px;
  overflow: hidden; /* Ensure content does not overflow */
}

.content-with-image {
  max-width: 32.8125em;
  margin: 1.25em auto;
}

.content-with-image img {
  float: right;
  margin-left: 1.25em;
  margin-bottom: 0.625em;
  border-radius: 0.625em;
  box-shadow: 0.125em 0 0.3125em rgba(0.1, 0.1, 0.1, 0.3); /* Stronger shadow */
  max-width: 12.5em;
  height: auto;
}

footer {
  font-family: monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #252423;
  padding: 1rem;
  box-shadow: 0 -2em 5em rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #cfc3ae;
} 


/* alternate mobile styling */
@media (max-width: 800px) {
  * {
    color: inherit;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3, h4 {
    font-size: 1.2em;
  }

  p, a {
    font-size: 1em;
  }

  main {
    margin-bottom: 2rem; /* Add space below main */
  }

  .left-pane {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: none;
  }

  .left-pane ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em; /* Add gap between items */
  }

  .left-pane ul li {
    flex: 1 1 20%; /* Adjust the width of each item */
    margin-bottom: 0em;
  }
  
  p.copyright {
    display: none;
  }

  body {
    flex-direction: column;
  }

  main {
    width: 100%;
    max-width: none;
    height: auto;
    overflow-y: scroll;
  }

  .music-folio-grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    max-width: 100%;
  }
}

/* Google Fonts */

.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.spectral-extralight {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;
}

.spectral-light {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-medium {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}

.spectral-semibold {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
}

.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

.spectral-extrabold {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: normal;
}

.spectral-extralight-italic {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: italic;
}

.spectral-light-italic {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: italic;
}

.spectral-regular-italic {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: italic;
}

.spectral-medium-italic {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: italic;
}

.spectral-semibold-italic {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: italic;
}

.spectral-bold-italic {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: italic;
}

.spectral-extrabold-italic {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: italic;
}

.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-display-extra-thin {
  font-family: "Noto Sans Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
  "wdth" 62.5;
}

.bodoni-moda-regular {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}